{% extends "core/base.html" %}
{% block title %}Efase Anplwaye{% endblock %}

{% block content %}
<div class="min-h-screen flex justify-center items-center bg-gray-900 text-white px-4">
    <div class="bg-gray-800 p-8 rounded-xl shadow-lg w-full max-w-lg text-center">

        <h1 class="text-2xl font-bold text-red-500 mb-6">Efase Anplwaye ?</h1>

        <p class="text-gray-300 mb-6">
            Èske ou sèten ou vle efase anplwaye a :  
            <strong>{{ employee.first_name }} {{ employee.last_name }}</strong> ?
        </p>

        <form method="post">
            {% csrf_token %}
            <button 
                class="bg-red-600 px-6 py-2 rounded-lg hover:bg-red-700 w-full mb-3">
                Wi, efase l
            </button>
        </form>

        <a href="{% url 'users:employee_list' %}" 
           class="block text-gray-300 hover:text-white">
            Anile
        </a>

    </div>
</div>
{% endblock %}